body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnStyle button {
  margin: 10px;
  padding: 15px;
}

.calStyle {
  background-color: purple;
  color: white;
}

.inpStyle input {
  margin: 15px;
  padding: 10px;
  background-color: #D5B2FB;
  color: white;
  border-radius: 20px;
  width: 100px;
}

.calStyle {
  width: 700px;
  /* width: auto; */
  height: 6 0vh;
  background-color: #650f7a;
  color: #D5B2FB;
  margin: auto;
  margin-top: 5%;
}

.calStyle h1 {
  padding: 20px;
  color: #D5B2FB;
}

.calStyle button {
  margin: 10px;
  padding: 10px;
  background-color: var(--bgColor);
  /* color: white; */
  font-size: 20px;
  color: #650f7a;
  font-weight: 700;
}


:root{
  --bgColor:#D5B2FB;
}

.calStyle h2 {
  font-size: 10vh;
  word-wrap: break-word;
}
