body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cnt button {
  margin: 20px;
  padding: 10px;
}


.h1stl {
  background-color: skyblue;
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 30px;
}

.btnn {
  margin: 20px;
  padding: 10px;
  /* background-color: blueviolet;
  color: white; */
}